@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Lato:wght@300;400&family=Poppins:wght@200;300;400;500;700&display=swap');

* {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
}

.footer {
  margin: 1.8rem 0 0 1rem;
  text-align: left;

}

.footer p {
  padding: .3rem 0;
  font-weight: 200;
 
}

.img1 {
  width: 50px;
  cursor: pointer;
}
 .img2 {
  width:100px;
  cursor: pointer;
}

.circle-contaner {
  display: grid;
  place-content: start end;
  
}

.dots {
  margin: 1.2rem 1rem 0 0;
  cursor: pointer;
}

.share {
  margin: 1.2rem 15rem 0 0;
  display: none;
  cursor: pointer;
}

.bottom-border {
  border-bottom: .2px solid #ccc;
}



@media (min-width: 768px) {
  .dots {
    display: none;
  }
  
  .footer {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
    
  }

  
  .footer .img1 {
    width: 80px;
    margin-right: 50px;
  }
  .footer .img2 {
    width: 150px;
  }
  .slack {
    width: 30px;
  }
  .github {
    width: 30px;
  }
  .profile h4 {
    font-size: 1.7rem;
  }

  .profile-link p {
     font-size: 1rem;
  }

  .share {
    display: block;
    
  }
}






